.git
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
!.env.example
.dev-server*.log
Dockerfile
docker-compose.yml
README.md
tsconfig.tsbuildinfo
public/uploads/*
!public/uploads/.gitkeep
